@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --yellow: #ede9df;
  --brown: #af9280;
  --green: #a8ab98;
  --greenSec: #a5a995;
  --blue: #9ba8bd;
  --assistant: 10px;
  --brandname: #d2bcae;
}

html {
  scrollbar-gutter: stable;
}
body {
  overflow-x: hidden;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

* {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

a,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-family: inherit;
}

button {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img,
svg {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

path {
  transition: all 0.3s ease;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

input {
  color: var(--brown);
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.display {
  display: none;
}

::selection {
  background: var(--brown);
  color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
  background: var(--yellow);
}
::-webkit-scrollbar-thumb {
  background: var(--brown);
  border-radius: 5px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  margin: 0;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
textarea:focus::-moz-placeholder,
input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
textarea:focus:-moz-placeholder,
input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
textarea:focus:-ms-input-placeholder,
input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.page-enter-active,
.page-leave-active {
  opacity: 1;
  transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

body {
  background-color: var(--yellow);
  color: var(--brown);
}
.span__inter {
  font-family: "Inter", sans-serif;
  font-size: 30px;
}

/* SLIDER CSS */
.new__item_swiper .swiper-slide {
  opacity: 0 !important;
  transition: 0s ease;
}

.new__item_swiper .swiper-slide-active {
  opacity: 1 !important;
  transition: 0s ease;
}

.new__item_swiper .swiper-slide .new__item_card {
  opacity: 0.5;
  transition: 0.3s ease;
}
.new__item_swiper .swiper-slide-active .new__item_card {
  opacity: 1;
  transition: 0.3s ease;
}

.new__item_swiper .swiper-pagination-bullet {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  margin: 0 !important;
  padding: 0 !important;
  background: none !important;
  outline: none !important;
  border: none !important;
  cursor: none;
}
.new__item_swiper .swiper-pagination-bullet-active {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  margin: 0 !important;
  padding: 0 !important;
  background: none !important;
  outline: none !important;
  border: none !important;
  cursor: none;
}

/* SWIPER CSS CARD */
.card__item_swiper .swiper-slide {
  opacity: 0 !important;
  transition: 0s ease;
}

.card__item_swiper .swiper-slide-active {
  opacity: 1 !important;
  transition: 0s ease;
}

.card__item_swiper .swiper-slide .card__item_card {
  opacity: 0.5;
  transition: 0.3s ease;
}
.card__item_swiper .swiper-slide-active .card__item_card {
  opacity: 1;
  transition: 0.3s ease;
}

.card__item_swiper .swiper-pagination-bullet {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  margin: 0 !important;
  padding: 0 !important;
  background: none !important;
  outline: none !important;
  opacity: 1;
  border-bottom: 1px solid #fff;
  cursor: none;
  transition: all 0.4s ease;
}
.card__item_swiper .swiper-pagination-bullet-active {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  margin: 0 !important;
  padding: 0 !important;
  background: none !important;
  outline: none !important;
  border-bottom: 1px solid var(--brown);
  cursor: none;
  transition: all 0.4s ease;
}
